.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  font-size: 24px;
  padding: var(--spacing-lg) 0;
  color: var(--color-display);
  font-weight: var(--font-weight-regular);
}
