main {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
